@model List<MailBoxEntity.Contact>

<a href="~/Contact/NewContact" class="btn btn-sm"><i class="fa fa-user-plus"></i> Yeni Kişi Oluştur</a>
<button type="button" class="btn btn-sm" onclick="@("window.location.href='"+Url.Action("SendMailToContact","Contact")+"'");"><i class="fa fa-envelope"></i> Yeni Mail</button>
<br />
<br />
<div class="d-flex mb-3">
    @*<input class="form-control w-auto" id="searchInput" type="text" placeholder="Arama...">*@
    <select id="urlList" class="form-control ml-3 w-auto" asp-items="@(new SelectList(@ViewBag.Groups,"GroupId","Name"))"></select>
</div>
<div class="list-table">
    <table class="contact-table table" id="contactTable">
        <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="tbl1" aria-sort="ascending" aria-label="Ad">Ad</th>
                <th class="sorting" tabindex="0" aria-controls="tbl1" aria-sort="ascending" aria-label="Soyad">Soyad</th>
                <th class="sorting" tabindex="0" aria-controls="tbl1" aria-sort="ascending" aria-label="DogumGunu">Doğum Günü</th>
                <th class="sorting" tabindex="0" aria-controls="tbl1" aria-sort="ascending" aria-label="EMail">E-Mail</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="search_Input">
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr role="row">
                        <td>@item.Name</td>
                        <td>@item.LastName</td>
                        <td>@item.Birthday.Date</td>
                        <td>@item.EMail</td>
                        <td style="text-align:center"><button class="btn btn-sm" onclick="@("window.location.href='" + @Url.Action("Update", "Contact", new {contactId =item.ContactId})  + "'")"><i class="fa fa-edit"></i> Güncelle</button></td>
                        <td style="text-align:center"><button type="button" data-model-id="@item.ContactId" class="deleteRecord btn btn-sm"><i class="fa fa-trash-o"></i> Sil</button></td>
                    </tr>
                }}
        </tbody>
    </table>
</div>

